html {
  font-family: "Avenir Next", sans-serif;
}

h1, h2, h3, h4,
li a {
  font-family: "Bodoni Moda", serif;
}

.listStyle li {
  padding-top: 16px;
  list-style: square;
}

input, textarea {
  width: 100%;
  padding: 16px 16px 6px 16px;
  margin-bottom: 18px;
  border-color: black;
  border-width: 0px 0px 1px 0px;
  border-radius: 0px 0px 0px 0px;
}

textarea {
  height: 128px;
}

input:focus, textarea:focus, input:focus-visible, textarea:focus-visible {
  outline: none;
}

.object5070 img {
  object-position: 50% 70%
}

.object5090 img {
  object-position: 50% 90%
}

.dp__action_row {
  display: none !important;
}

.dp__main, .dp__calendar_wrap {
  width: auto !important;
  font-family: "Avenir Next" !important;
}

.dp__instance_calendar {
  padding: 20px;
}

.dp__calendar_next {
  margin-left: 20px !important;
}

.dp__month_year_row {
  height: 60px !important;
  font-family: "Bodoni Moda" !important;
  font-weight: bold !important;
}

.dp__month_year_wrap {
  justify-content: center !important;
}

.dp__month_year_select {
  width: auto !important;
  margin-right: 16px !important;
}

.dp__flex_display {
  justify-content: flex-end !important;
}

.dp__cell_highlight {
  background-color: rgba(248, 120, 106, 0.55) !important;
  color: white !important;
}

.dp__cell_inner {
  border-radius: 0 !important;
}
